* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  fonts-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.button {
  padding: 10px 20px;
  border: 0;
  background-color: #FFCE34;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .button:hover {
    background-color: transparent;
    border: 1px solid #FFCE34;
    color: aliceblue; }

.hero {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0.6))), url("../images/vegetable-sandwich-on-plate.jpg");
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("../images/vegetable-sandwich-on-plate.jpg");
  background-image: -o-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("../images/vegetable-sandwich-on-plate.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)), url("../images/vegetable-sandwich-on-plate.jpg");
  background-position: center;
  background-size: cover;
  overflow-x: hidden; }

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: center;
  align-content: center;
  padding: 40px 120px; }
  .navbar .nav-logo a {
    text-decoration: none;
    color: white; }
  .navbar .nav-links ul {
    margin-left: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .navbar .nav-links li {
    list-style: none;
    display: inline-block;
    padding: 8px 25px; }
    .navbar .nav-links li:hover::after {
      width: 100%; }
    .navbar .nav-links li::after {
      content: "";
      width: 0;
      height: 2px;
      background-color: #FFCE34;
      display: block;
      margin: auto;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s; }
    .navbar .nav-links li a {
      color: aliceblue;
      text-decoration: none;
      font-size: 16px; }

.banner-title {
  margin: 80px auto;
  top: 35%;
  right: 45%;
  -webkit-transform: translate(10%, 45%);
  -ms-transform: translate(10%, 45%);
  transform: translate(10%, 45%);
  width: 50%;
  color: aliceblue; }
  .banner-title h1 {
    font-size: 3em;
    margin-bottom: 30px; }
    .banner-title h1 cite {
      font-size: 13px;
      color: #FFCE34; }

.vertical-bar {
  height: 100%;
  background-color: #000000;
  top: 0;
  left: 0;
  position: absolute; }

.search-icon {
  height: 60%;
  width: 80px; }
  .search-icon .fa {
    color: aliceblue;
    display: block;
    cursor: pointer;
    font-size: 20px;
    margin: 45px 25px; }

.social-icons {
  height: 35%;
  width: 80px;
  background-color: #FFCE34;
  text-align: center;
  padding-top: 30%;
  bottom: 0;
  position: absolute; }
  .social-icons .fa {
    color: #000000;
    cursor: pointer;
    display: block;
    margin: 15px 25px;
    padding: 6px;
    border: 1px solid black;
    border-radius: 50%; }

.notifications {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-item-align: center;
  align-self: center;
  width: 400px;
  right: 0;
  bottom: 0;
  background-color: #FFCE34;
  position: absolute;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .notifications .contents {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    padding: 10px; }
    .notifications .contents a {
      text-decoration: none;
      color: black;
      font-size: 13px;
      margin: 0 10px; }
    .notifications .contents p {
      text-align: center;
      margin-top: 10px; }
  .notifications .notifications-img {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    background: url(/images/coffee-cup.jpg) no-repeat center/cover; }
    .notifications .notifications-img img {
      width: 100%; }

.navbar .fa {
  display: none; }

@media (max-width: 768px) {
  .vertical-bar {
    display: none; }
  .banner-title {
    margin: 80px 40px;
    top: 0;
    -webkit-transform: translate(10%, 30%);
    -ms-transform: translate(10%, 30%);
    transform: translate(10%, 30%); }
  .banner-title h1 {
    font-size: 30px; }
  .notifications {
    width: 100%; }
  .navbar {
    padding: 10px 30px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden; }
  .navbar .fa {
    display: block;
    color: aliceblue;
    margin: 10px 25px;
    font-size: 22px;
    cursor: pointer; }
  .fa-bars {
    position: absolute;
    right: 20px;
    top: 10px; }
  .navbar .nav-links {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100vh;
    width: 200px;
    background-color: black;
    top: 0;
    right: -200px;
    text-align: left;
    margin: 0 auto;
    position: absolute;
    z-index: 2;
    overflow: auto;
    -webkit-transition: 0.5s cubic-bezier(0.5, 0.7, 1, 0.5);
    -o-transition: 0.5s cubic-bezier(0.5, 0.7, 1, 0.5);
    transition: 0.5s cubic-bezier(0.5, 0.7, 1, 0.5); }
  .navbar .nav-links ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .navbar .button {
    display: none; } }
